#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Slides
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=kefjledonklijopmnomlcbpllchaibag
Icon=chrome-kefjledonklijopmnomlcbpllchaibag-Default
StartupWMClass=crx_kefjledonklijopmnomlcbpllchaibag
