[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=evolution --component=mail %u
Name=Evolution
Comment=Custom definition for Evolution
