[Desktop Entry]
Type=Application
Name=Program Files
MimeType=application/x-wine-extension-scx;
Exec=env WINEPREFIX="/home/fn/.wine" /usr/bin/wine start /ProgIDOpen StarEdit.BWScenario %f
NoDisplay=true
StartupNotify=true
Icon=CCAD_Program Files.0
