[Desktop Entry]
Type=Application
Name=Wine Internet Explorer
MimeType=image/jpeg;
Exec=env WINEPREFIX="/home/fn/share/wine32" /usr/bin/wine start /ProgIDOpen jpegfile %f
NoDisplay=true
StartupNotify=true
Icon=FB4C_iexplore.0
