[Desktop Entry]
Type=Application
Name=winebrowser
MimeType=application/pdf;
Exec=env WINEPREFIX="/home/fn/share/wine32" /usr/bin/wine start /ProgIDOpen pdffile %f
NoDisplay=true
StartupNotify=true
Icon=7765_winebrowser.0
