[Desktop Entry]
Type=Application
Name=rundll32
MimeType=application/x-mswinurl;
Exec=env WINEPREFIX="/home/fn/share/wine32" /usr/bin/wine start /ProgIDOpen InternetShortcut %f
NoDisplay=true
StartupNotify=true
Icon=1CD8_rundll32.0
