[submodule "common/code/snippets/templates/markdown-styles"]
	path = common/code/snippets/templates/markdown-styles
	url = https://github.com/mixu/markdown-styles.git
[submodule "common/code/snippets/templates/gitignore"]
	path = common/code/snippets/templates/gitignore
	url = git@github.com:github/gitignore.git
[submodule "common/code/snippets/templates/bash3boilerplate"]
	path = common/code/snippets/templates/bash3boilerplate
	url = https://github.com/kvz/bash3boilerplate.git
[submodule "common/code/snippets/ctf/web/yolovault"]
	path = common/code/snippets/ctf/web/yolovault
	url = https://github.com/pashosh-ctf/yolovault.git
[submodule "common/code/snippets/txt/security-cheatsheets"]
	path = common/code/snippets/txt/security-cheatsheets
	url = https://github.com/andrewjkerr/security-cheatsheets.git
[submodule "common/code/snippets/lzone-cheat-sheets"]
	path = common/code/snippets/lzone-cheat-sheets
	url = https://github.com/lwindolf/lzone-cheat-sheets
[submodule "common/code/snippets/templates/plaintext"]
	path = common/code/snippets/templates/plaintext
	url = https://github.com/joedavis/plaintext
[submodule "common/code/snippets/gdb/gdb_python_api"]
	path = common/code/snippets/gdb/gdb_python_api
	url = https://github.com/jefftrull/gdb_python_api
[submodule "common/code/snippets/frida/logging_helper"]
	path = common/code/snippets/frida/logging_helper
	url = https://gist.github.com/oleavr/00d71868d88d597ee322a5392db17af6
