[Desktop Entry]
Name=Starcraft - Brood War Units
Exec=env WINEPREFIX="/home/fn/.wine" /usr/bin/wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/fn/.wine/dosdevices/c:/users/fn/Start\\ Menu/Programs/Starcraft/Starcraft\\ -\\ Brood\\ War\\ Units.lnk
Type=Application
StartupNotify=true
Path=/home/fn/.wine/dosdevices/c:/Program Files (x86)/Starcraft
Icon=74BD_BroodUnits.0
