#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Sheets
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=felcaaldnbdncclmgdcncolpebgiejap
Icon=chrome-felcaaldnbdncclmgdcncolpebgiejap-Default
NoDisplay=true
StartupWMClass=crx_felcaaldnbdncclmgdcncolpebgiejap
