[Desktop Entry]
Name=Ghidra
Exec=env JAVA_HOME=/usr/lib/jvm/java-11 PATH=$JAVA_HOME/bin:$PATH ghidra
Terminal=false
Type=Application
Icon=ghidra
Categories=Application;
Keywords=reversing
