[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=/usr/bin/firefox %u
Icon=firefox
Name=Firefox
Comment=Custom definition for Firefox
