[Unit]
Description=Dump Systemd User Environment
StartLimitBurst=10
StartLimitIntervalSec=30

[Service]
# Check exit status of script
Type=forking

ExecStartPre=/usr/bin/env bash -c "rm -f /home/%u/.local/share/systemd/env"
ExecStart=/usr/bin/env bash -c "/home/%u/bin/dump-systemd-env.sh"
Restart=on-failure
RestartSec=5
TimeoutSec=30

[Install]
WantedBy=default.target
