[Unit]
Description=Map mouse buttons
After=suspend.target
StartLimitBurst=10
StartLimitIntervalSec=30

[Service]
ExecStart=/opt/mouse.sh
Restart=on-failure
RestartSec=2
TimeoutSec=10

[Install]
WantedBy=suspend.target
