[Unit]
Description=NetworkManager Applet
Requires=tint2.service
After=tint2.service

[Service]
ExecStartPre=/bin/sleep 1
ExecStart=/usr/bin/nm-applet
Restart=on-failure
TimeoutSec=5
StartLimitInterval=20s
StartLimitBurst=3
