@import url("resource:///org/gtk/libgtk/theme/Adwaita/gtk-contained.css");
@import url("resource:///org/gnome/nautilus/css/Adwaita.css");
@import url("resource:///org/gnome/nautilus/css/nautilus.css");
@import url("gtk-contained.css");
@import url("xfce.css");
