<?xml version="1.0" encoding="UTF-8"?>
<!-- Dependencies: openbox-menu lxmenu-data -->
<openbox_menu xmlns="http://openbox.org/3.4/menu">
    <menu id="root-menu" label="Openbox 3">
        <separator label="Openbox"/>
        <menu execute="openbox-menu lxde-applications.menu" id="apps" label="Applications"/>
        <separator/>
        <item label="File Manager">
            <action name="Execute">
                <execute>pcmanfm</execute>
            </action>
        </item>
        <item label="Web Browser">
            <action name="Execute">
                <execute>x-www-browser</execute>
            </action>
        </item>
        <item label="Terminal Emulator">
            <action name="Execute">
                <execute>x-terminal-emulator</execute>
            </action>
        </item>
        <separator />
        <item label="Settings">
            <action name="Execute">
                <execute>obconf</execute>
            </action>
        </item>
        <item label="Panel Configuration">
            <action name="Execute">
                <execute>tint2conf</execute>
            </action>
        </item>
        <item label="Reconfigure">
            <action name="Reconfigure" />
        </item>
        <separator/>
        <item label="Power Off">
            <action name="Execute">
                <execute>systemctl poweroff</execute>
            </action>
        </item>
        <item label="Reboot">
            <action name="Execute">
                <execute>systemctl reboot</execute>
            </action>
        </item>
        <separator/>
        <item label="Suspend">
            <action name="Execute">
                <execute>systemctl suspend</execute>
            </action>
        </item>
        <separator/>
        <item label="Log Out">
            <action name="SessionLogout">
                <prompt>yes</prompt>
            </action>
        </item>
        <item label="Exit">
            <action name="Exit">
                <prompt>yes</prompt>
            </action>
        </item>
    </menu>
</openbox_menu>
