#dash,
.notification,
.workspace-thumbnails,
.modal-dialog {
    background-color: #393f3f;
    border: 1px solid #505050;
}

.summary-boxpointer, 
.popup-menu-boxpointer,
.candidate-popup-boxpointer {
    -arrow-background-color: #292929;
    -arrow-border-color: #777;
}

.popup-submenu-menu-item:open {
    background-color: #292929;
}

.popup-menu-item:active {
    background-color: #505050;
}

.popup-sub-menu {
    background-color: #333;
	background-gradient-direction: none;
    box-shadow: none;
}

.calendar-other-month-day {
    color: #505050;
}

.dash-label,
.window-caption {
    background-color: #292929;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.workspace-thumbnails {
    border-right: 0px;
}

.notification {
    padding: 11px 11px 9px 11px;
    border-bottom: 0px;
}

.notification.multi-line-notification {
    padding-bottom: 11px;
}

.notification-unexpanded {
    min-height: 45px;
    height: 45px;
}

.summary-boxpointer .notification {
    border: 1px solid transparent;
    padding-bottom: 11px;
}

.system-menu-action {
    color: #e6e6e6;
    border-radius: 32px;
    padding: 22px;
    border: 2px solid #505050;
}

.system-menu-action:hover,
.system-menu-action:focus {
    color: white;
    background-color: #505050;
    border: none;
    padding: 24px;
}

.system-menu-action:active {
    background-color: #777;
}
