#include ".local/share/Xresources/paper"
#include ".local/share/Xresources/urxvt/paper"

Xcursor.size: 24
Xcursor.theme: Adwaita

Xft.antialias: 1
Xft.autohint: false
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

!!
!! rofi
!!

rofi.kb-mode-next:Shift+Right,Control+Tab,Shift+U
rofi.kb-mode-previous:Shift+Left,Control+Shift+Tab,Control+ISO_Left_Tab,Shift+I
rofi.kb-row-up: Up,Shift+K,ISO_Left_Tab
rofi.kb-row-down: Down,Shift+J
rofi.kb-accept-entry:Return,KP_Enter,Shift+F
rofi.kb-cancel:Escape,Control+bracketleft,Shift+X,Shift+Q
rofi.show-icons: true
rofi.modi: window,run
rofi.terminal: urxvt

rofi.bw: 15
rofi.font: mono 14
rofi.line-margin: 5
rofi.lines: 10
rofi.padding: 15

rofi.color-enabled: true
rofi.color-window: #393f3f, #657070, #215d9c
rofi.color-normal: #393f3f, #ededed, #393f3f, #215d9c, #ededed
rofi.color-active: #393f3f, #4a90d9, #393f3f, #ededed, #215d9c
rofi.color-urgent: #393f3f, #cc4433, #393f3f, #ededed, #cc4433

!!
!! urxvt
!!

URxvt*boldFont: xft:Monospace-10:bold,xft:Source Han Sans CN:pixelsize=10:bold:antialias=true
URxvt*italicFont: xft:Monospace-10:italic,xft:Source Han Sans CN:pixelsize=10:italic:antialias=true
URxvt*font: xft:Monospace-10,xft:Source Han Sans CN:pixelsize=10:antialias=true
URxvt*letterSpace: 0

URxvt*geometry: 84x38
URxvt*internalBorder: 1
URxvt*jumpScroll: true
URxvt*loginShell: true
URxvt*scrollBar: false
URxvt*underlineURLs: True
URxvt*urlLauncher: xdg-open
URxvt*urlButton: 1

URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.perl-ext-common: default,clipboard,fullscreen
URxvt.keysym.C-C: perl:clipboard:copy
URxvt.keysym.C-V: perl:clipboard:paste
URxvt.keysym.F11: perl:fullscreen:switch
URxvt.clipboard.autocopy: true
URxvt.clipboard.copycmd: xclip -selection clipboard
URxvt.clipboard.pastecmd: xclip -selection clipboard -o

!!
!! xterm
!!

xterm*termName: xterm-16color

! Bitmap font
! Validation:
! $ fc-list
! $ xfontsel
! $ xlsfonts -fn "*-fixed-medium-r-n*--13-120-75-*-iso1*-1"
! $ xlsfonts -ll -fn fixed
! Errors: 
! - xterm: Selected font has no non-zero height for ISO-8859-1 encoding
!     - Solution: For `bdf`, add the following properties:
!         PIXEL_SIZE 13
!         POINT_SIZE 100
!         RESOLUTION_X 96
!         RESOLUTION_Y 96
! References:
! - https://wiki.archlinux.org/index.php/X_Logical_Font_Description
! UXTerm*boldMode: false
! UXTerm.VT100.renderFont: false
! UXTerm.VT100.font: -*-fixed-bold-r-normal-*-14-*-*-*-*-*-iso10646-1
! UXTerm.VT100.font: -*-terminus-bold-r-normal-*-14-*-*-*-*-*-iso10646-1

UXTerm*faceNameDoublesize: Source Han Sans CN
! UXTerm*faceName: Iosevka Custom
! UXTerm*faceName: Nixedsys
! UXTerm*faceName: Dina:style=Bold
! UXTerm*faceName: Xnu Iso
! UXTerm*faceName: Bm437 IBM VGA 8x14 OTB
! UXTerm*faceName: Bm437 ToshibaSat 8x14 OTB
UXTerm*faceName: PxPlus IBM VGA 8x16
UXTerm*faceSize: 12
UXTerm*geometry: 84x38
UXTerm*jumpScroll: true
UXTerm*locale: true
UXTerm*multiScroll: true
UXTerm*scrollBar: false
UXTerm*showBlinkAsBold: true
UXTerm*termName: xterm-16color

UXTerm*VT100.eightBitInput: false
UXTerm*VT100.internalBorder: 0
UXTerm*VT100.Translations: #override \
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Shift <Key>Up: scroll-back(1) \n\
  Shift <Key>Down: scroll-forw(1) \n\
  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font() \n\
  Ctrl <Key> KP_Subtract: smaller-vt-font() \n\
  Ctrl <Key> KP_Add: larger-vt-font()
